/* color pallet----------------------- */
.color-1 {
  background-color: #ffeecc83;
}

.color-2 {
  background-color: #ffddcc83;
}
.color-3 {
  background-color: #ffcccc7e;
}
.color-4 {
  background-color: #febbcc80;
}
.color-5 {
  background-color: rgba(0, 0, 0, 0.911);
}

.text-color-1 {
  color: #dc758f;
}
.text-color-2 {
  color: #272727;
}
.text-color-3 {
  color: #ffffff;
}
.text-color-4 {
  color: #813030;
}
.text-color-5 {
  color: rgba(255, 255, 255, 0.427);
}
/* color pallet----------------------- */
/* --------------------------------------- */
/* Basic styles------------------------------ */
* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
}
.container {
  width: 80%;
  margin: 50px auto;
}
.container-fluid {
  width: 100%;
  margin: 50px auto;
}
.button-style {
  background-color: #dc758f;
  border: none;
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 18px;
}

.button-style:hover {
  background-color: #9b2f4a;
  transition: all 0.3s ease-out;
}

input:focus {
  border: none;
  outline: none;
}

h1 {
  color: rgb(42, 38, 38);
  font-size: 50px;
  margin-bottom: 20px;
}
p {
  color: #2727277a;
  font-size: 20px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  border-bottom: 3px solid rgb(42, 38, 38);
}
/* Basic styles------------------------------ */
/* --------------------------------------- */
/* Banner styles------------------------------ */

.banner {
  height: 80vh;
  display: flex;
}
.banner-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text > div {
  width: 70%;
}
.banner-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.banner-img > figure {
  display: flex;
  justify-content: center;
}

.banner-img img {
  width: 90%;
}
/* Banner styles------------------------------ */
/* ------------------------------------------ */
/* Feature styles ------------------------------ */

.feature > header {
  text-align: center;
  margin: 60px 0 0 0;
}

.feature-imgs-container {
  display: flex;
  justify-content: space-between;
}

.feature-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 32%;
}
.feature-img div {
  height: 500px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.feature-img img {
  width: 100%;
}
.go-bottom {
  display: flex;
  align-items: end;
}
.go-center {
  display: flex;
  align-items: center;
}

.feature-img a {
  color: #272727;
  font-size: 22px;
  margin-top: 20px;
}

.feature-img img {
  width: 100%;
  vertical-align: top;
}
.feature main .gift {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.feature footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.feature footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  font-size: 22px;
}
/* Feature styles ------------------------------ */
/* ------------------------------------------- */
/* Gift styles------------------------------------ */

.gift img {
  vertical-align: top;
}
/* Gift styles------------------------------------ */
/* ---------------------------------- */
/* Hot Deal styles---------------------- */
.hot-deal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}
.hot-deal section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Hot Deal styles---------------------- */
/* ------------------------------ */
/* Top Sold---------------------------- */
.top-sold {
  display: flex;
  flex-direction: column;
}
.top-sold header {
  text-align: center;
}

.top-sold main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.top-sold main section {
  width: 24%;
}

.top-sold main img {
  width: 100%;
  vertical-align: top;
}

.top-sold footer {
  background-image: url("/assets/Rectangle\ 9.png");
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-sold footer div section {
  height: 50px;
  overflow: hidden;
}
.top-sold footer input {
  width: 600px;
  height: 100%;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 15px;
}
/* Top Sold---------------------------- */
/* ------------------------------------- */
/* Footer styles------------------------- */
.footer {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
